{{ form_start(form, {'method':'POST'}) }}
            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <h3 class="text-extrabold">Your personal informations</h3>
                         <div class="col-xs-12 col-sm-6 col-md-4">
                          {{form_label(form.gender, 'Your gender')}}
                          {{form_widget(form.gender)}}
                        </div>
                         <div class="col-xs-12 col-sm-6 col-md-4">
                          {{form_label(form.firstName, 'First name')}}
                          {{form_widget(form.firstName)}}
                        </div>
                         <div class="col-xs-12 col-sm-6 col-md-4">
                          {{form_label(form.lastName, 'Last name')}}
                          {{form_widget(form.lastName)}}
                        </div>
                        </div>
                     <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-4">
                            {{form_label(form.currentLocation, 'Current location')}}
                            {{form_widget(form.currentLocation)}}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            {{form_label(form.address, 'Address')}}
                            {{form_widget(form.address)}}
                        </div>
                         </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                         <div class="btn btn-lg primary waves-effect waves-light">
                            <span><i class="material-icons">&#xE24D;</i> your picture</span>
                            {{ form_widget(form.profilePicture) }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            {{form_label(form.country, 'Country')}}
                            {{form_widget(form.country)}}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            {{form_label(form.nationality, 'Nationality')}}
                            {{form_widget(form.nationality)}}
                        </div>
                         </div>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                  
                        </div>
                         <div class="col-xs-12 col-sm-6 col-md-4">
                            {{form_label(form.birthDate, 'Birthdate')}}
                            {{form_widget(form.birthDate)}}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="birthplace">Birthplace</label>
                            {{form_label(form.birthPlace, 'place_birth')}}
                            {{form_widget(form.birthPlace)}}
                        </div>
                          </div>
                    <div class="row mt-40">
                        <h3 class="text-extrabold">Your professional profile</h3>
                        <div class="col-xs-12 col-sm-6">

                            <div class="card card-panel passport">
                               
                                    <div class="btn btn-lg primary waves-effect waves-light">
                                    <span><i class="material-icons">&#xE24D;</i> Passport</span>

                                        {{ form_widget(form.passport) }}
                                        
                                    </div>
                                    <br><br>
                                    <div class="btn btn-lg primary waves-effect waves-light">
                                    <span><i class="material-icons">&#xE24D;</i> CV</span>
    
                                        {{ form_widget(form.resume) }}
                                    </div>
                                   
                            </div>
                              </div>
                        <div class="col-xs-12 col-sm-6">
                            
                              {#   <div class="input-field" style="margin-top: 5px;">
                                {{form_widget(form.job_category)}}
                                </div> #}
                                 <div class="input-field" style="margin-top: 5px;">
                                 {{form_widget(form.experience)}}
                                </div>
                                <div class="input-field" style="margin-top: 5px;">
                                 {{form_widget(form.jobCategory)}}
                                </div>

                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="input-field">
                                {{form_widget(form.description)}}                                
                                <label for="description">Short description for your profile, as well as more personnal informations (e.g. your hobbies/interests ). You can also paste any link you want.</label>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
                                {{ button_label|default('UPDATE NOW') }}
                            </button>
                        </div>
{{ form_end(form) }}



{# 
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
 #}